# 多元统计分析

<font size = 3>
    
多元统计分析的内容主要有:**多元数据图示法、多元线性相关与回归分析、聚类分析、判别分析、主成分分析、因子分析、对应分析及典型相关分析**等。

**1.多元数据的数学表示**<br/>
多元数据是指具有多个变量的数据。如果将每个变量看做一个随机向量的话，多个变量形成的数据集将是一个随机矩阵，所以多元数据的基本表现形式是一个矩阵。对这些数据矩阵进行数学表示是我们的首要任务。也就是说，多元数据的基本运算是矩阵运算。

**2.多元数据的直观分析**<br/>
直观分析即图示法是进行数据分析的重要辅助手段。例如，通过两变量的散点图可以考察异常的观察值对样本相关系数的影响，利用矩阵散点图可以考察多元之间的关系，利用多元箱尾图可以比较几个变量的基本统计量的大小差别。

**3．多元线性相关分析**<br/>
相关分析就是通过对大量数字资料的观察，消除偶然因素的影响，探求现象之间相关关系的密切程度和表现形式。在经济系统中，各个经济变量常常存在内在的关系。在这些关系中，有一些是严格的函数关系，这类关系可以用数学表达式表示出来。还有一些是非确定的关系，一个变量产生变动会影响其他变量，使其产生变化。这种变化具有随机的特性，但是仍然遵循一定的规律。函数关系很容易解决，而那些非确定的关系，即相关关系,才是我们所关心的问题。

**4.多元线性回归分析**<br/>
回归分析研究的主要对象是客观事物变量间的统计关系。它是建立在对客观事物进行大量实验和观察的基础上，用来寻找隐藏在看起来不确定的现象中的统计规律的方法。回归分析不仅可以揭示自变量对因变量的影响大小，还可以由回归方程进行预测和控制。
回归分析的主要研究范围包括:<br/>
(1）线性回归模型:一元线性回归模型,多元线性回归模型。<br/>
(2) 回归模型的诊断:回归模型基本假设的合理性，回归方程拟合效果的判定，选择回归函数的形式。<br/>
(3) 广义线性模型:含定性变量的回归，自变量含定性变量，因变量含定性变量。<br/>
(4) 非线性回归模型:一元非线性回归，多元非线性回归。

**5．线性模型与非线性模型**<br/>
鉴于统计模型的多样性和各种模型的适应性，针对因变量和解释变量的取值性质可将统计模型分为多种类型。通常将自变量为定性变量的线性模型称为一般线性模型如实验设计模型、方差分析模型;将因变量为非正态分布的线性模型称为广义线性模型如Logistic回归模型、对数线性模型、Cox 比例风险模型。<br/>
(1) 广义线性模型(GLM)。广义线性模型是多元线性回归模型的推广，从另一个角度也可以看做非线性模型的特例，它们具有一些共性是其他非线性模型所不具备的。它与典型线性模型的区别是其随机误差的分布不是正态分布，与非线性模型的最大区别则在于非线性模型没有明确的随机误差分布假定，而广义线性模型的随机误差的分布是可以确定的。广义线性模型不仅包括离散变量，也包报连续变量。正态分布也被包括在指数分布族里，该指数分布族包含描述发散状况的参数属于双参数指数分布族。<br/>
(2）非线性模型。在实际研究中，经常遇到一个随机变量随一个或多个非随机变量变化而变化的情况，而这种变化关系明显呈非线性。怎样用一个较好的模型来表示，然后进行估计与预测，并对其非线性进行检验就成为一个重要问题。在经济预测中，常用多元回归模型反映预报量与各因素之间的依赖关系，其中，线性回归分析有着广泛的应用。但客观事物之间并不一定呈线性关系，在有些情况下，非线性回归模型更为合适只是建立起来较为困难。

**6.判别分析**<br/>
判别分析是多元统计分析中用于判别样本所属类型的一种统计分析方法。所谓判别分析法，是在已知的分类之下，一旦有新的样品时，可以利用此法选定一个判别标准,以判定将该新样品放置于哪个类中。判别分析的目的是对已知分类的数据建立由数值指标构成的分类规则，然后把这样的规则应用到未知分类的样品中去分类。

**7、聚类分析**<br/>
聚类分析是研究“物以类聚”的一种现代统计分析方法，对于多因素、多指标的分类问题，定性分类更难以实现准确分类。为克服定性分类的不足，多元统计分析逐渐地被引人数值分类学，形成了聚类分析这个分支。聚类分析是一种分类技术，与多元分析的其他方法相比，该方法较为粗糙，理论上还不完善，但应用方面取得了很大成功。聚类分析与回归分析、判别分析一起被称为元分析的三个主要方法。

**8．主成分分析**<br/>
在实际问题中，研究多变量问题是经常遇到的，然而在多数情况下，不同变量之间有一定相关性，这必然增加了分析问题的复杂性。主成分分析就是一种通过降维技术把多个指标化为少数几个综合指标的统计分析方法。,如何将具有错综复杂关系的指标综合成几个较少的成分，使之既有利于对问题进行分析和解释，又便于抓住主要矛盾作出科学的评价，此时便可以用主成分分析方法。

**9．因子分析**<br/>
因子分析是主成分分析的推广，它也是一种把多个变量化为少数几个综合变量的多元分析方法，但其目的是用有限个不可观测的隐变量来解释原变量之间的相关关系。主成分分析通过线性组合将原变量综合成几个主成分，用较少的综合指标来代替原来较多的指标（变量)。在多元分析中，变量间往往存在相关性，是什么原因使变量间有关联呢?是否存在不能直接观测到的、但影响可观测变量变化的公共因子?因子分析就是寻找这些公共因子的统计分析方法，它是在主成分的基础上构筑若干意义较为明确的公因子，以它们为框架分解原变量，以此考察原变量间的联系与区别。

**10．对应分析**<br/>
对应分析又称为相应分析，是Q型和R型因子分析的联合应用。在经济管理数据的统计分析中，经常要处理三种关系，即样品之间的关系（Q型关系)、变量间的关系（R型关系）以及样品与变量之间的关系（对应型关系)。例如，对某一行业所属的企业进行经济效益评价时，不仅要研究经济效益指标间的关系,还要将企业按经济效益的好坏进行分类，研究哪些企业与哪些经济效益指标的关系更密切一些,为决策部门正确指导企业的生产经营活动提供更多的信息。这就需要有一种统计方法,将企业（样品）和指标（变量）放在一起进行分析、分类、作图，便于作经济意义上的解释。解决这类问题的统计方法就是对应分析。

**11．典型相关分析**<br/>
在相关分析中，当考察的一组变量仅有两个时，可用简单相关系数衡量之;当考察的一组变量有多个时，可用复相关系数衡量之。大量的实际问题需要我们把指标之间的联系扩展到两组变量，即两组随机变量之间的相互依赖关系。典型相关分析就是用来解决此类问题的一种分析方法。它实际上是利用主成分的思想来讨论两组随机变量的相关性问题，把两组变量间的相关性研究化为少数几对变量之间的相关性研究，而且这少数几对变量之间又是不相关的，以此来达到化简复杂相关关系的目的。典型相关分析在经济管理实证研究中有着广泛的应用，因为许多经济现象之间都是多个变量对多个变量的关系。例如，在研究通货膨胀的成因时，可把几个物价指数作为一组变量，把若干个影响物价变动的因素作为另-组变量，通过典型相关分析找出几对主要综合变量，结合典型相关系数对物价上涨及通货膨胀的成因，给出较深刻的分析结果。

**12.多维标度法**<br/>
多维标度分析( multidimensional scaling，MDS)是以空间分布的形式表现对象之间相似性或亲疏关系的一种多元数据分析方法。一旦有数据，多维标度法可以用来分析:①评价样品时受测者用什么维数;②在特定情况下受测者可能使用多少维数;③每个维数的相对重要性如何;④如何获得对样品关联的感性认识。

**13．综合评价方法**<br/>
20世纪七八十年代，是现代科学评价蓬勃兴起的年代，在此期间产生了很多种评价方法，如 ELECTRE法、多维偏好分析的线性规划法（LINMAP)、层次分析法(AHP) 、数据包络分析法（EDA）及逼近于理想解的排序法（TOPSIS）等，这些方法到现在已经发展得相对完善了，而且它们的应用也比较广泛。多指标综合评价方法具有以下特点:包含若干个指标，分别说明被评价对象的不同方面;评价方法最终要对被评价对象作出一个整体性的评判，用一个总指标来说明被评价对象的一般水平。目前常用的综合评价方法较多，如综合评分法、综合指数法、秩和比法、层次分析法、TOPSIS法、模糊综合评判法、数据包络分析法等。

## 数据矩阵 R语言
<font size = 3>
<br/>
在多元分析中，数据通常以矩阵的形式出现，R中基本矩阵运算主要包括:创建矩阵向量，矩阵加减、乘积，矩阵的逆，行列式的值，特征值与特征向量，QR分解，奇异值分解，取矩阵的上下三角元素，向量化算子等。

### 1 向量
<font size = 3>
    
在R中可以用函数 **c()** 来创建一个向量

In [7]:
x1 <- c(171,175,159,155,152,158,154,164,168,166,159,164)
x2 <- c(57,64,41,38,35,44,41,51,57,49,47,6)

print(x1)
print(x2)
# length()返回向量长度，class() 返回数据类型

 [1] 171 175 159 155 152 158 154 164 168 166 159 164
 [1] 57 64 41 38 35 44 41 51 57 49 47  6

### 2 矩阵（2维数组）
<font size = 3>

在R中可以用函数**matrix()** 来创建一个矩阵

matrix ( data = NA , nrow = 1 , ncol = 1 , byrow = FALSE, dimnames = NULL)

**data**：数据，**nrow**：行数，**ncol**：列数，nrow与ncol 的乘积应为矩阵元素个数，**byrow**：控制排列元素时是否按行进行，**dimnames**：给定行和列的名称

In [29]:
x1 <- c(171,175,159,155,152,158,154,164,168,166,159,164)
rnames <-c("1","2","3")  #行名称
nnames <-c("A","B","C","D") #列名称
matrix(x1,nrow = 3,ncol = 4,dimnames = list(rnames,nnames)) #生成3行4列数据，默认按列生成

matrix(x1,nrow = 3,ncol = 4,byrow = TRUE,dimnames = list(rnames,nnames))  #生成3行4列数据，按行生成

  A   B   C   D
1 171 155 154 166
2 175 152 164 159
3 159 158 168 164

  A   B   C   D
1 171 175 159 155
2 152 158 154 164
3 168 166 159 164

### 3 矩阵运算

<font size = 3>

**矩阵转置**：
$A$为m×n矩阵，$A'$为其转置矩阵，求$A'$在R中可用函数**t()或transpose()**

In [7]:
A <-matrix(1:12,3,4)
A
t(A) # 转置

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12

<font size = 3>

**相加/减: +,-**

In [42]:
A <-B<-matrix(1:4,nrow = 2,ncol = 2,byrow = TRUE)
cat('A')

cat('B')
B
cat("A+B")
A+B
cat("A-B")
A-B

A1 3 2 4B

     [,1] [,2]
[1,] 1    2
[2,] 3    4

A+B

     [,1] [,2]
[1,] 2    4
[2,] 6    8

A-B

     [,1] [,2]
[1,] 0    0
[2,] 0    0

<font size = 3>
    
**相乘: %*%**

In [45]:
A <- matrix(1:12,nrow = 3,ncol = 4,byrow = TRUE) # 3X4矩阵
B <- matrix(0:11,nrow = 4,ncol = 3,byrow = TRUE) # 4X3矩阵
C <- A%*%B
C

     [,1] [,2] [,3]
[1,]  60   70   80
[2,] 132  158  184
[3,] 204  246  288

<font size = 3>
    
**对角相关运算 diag()** :
取一个**方阵**对角线元素，或生成一个**对角矩阵**，或生成**n维单位阵**

In [47]:
# 取一个方阵对角线元素
A <- matrix(1:16,nrow = 4,ncol = 4,byrow = TRUE)
A
diag(A)

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16

[1]  1  6 11 16

In [48]:
# 生成一个对角矩阵
l = c(1,2,3,4)
diag(l)

     [,1] [,2] [,3] [,4]
[1,] 1    0    0    0
[2,] 0    2    0    0
[3,] 0    0    3    0
[4,] 0    0    0    4

In [49]:
# 生成n维单位阵
n <- 3
diag(n)

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

<font size = 3>
    
**求逆：solve()** <br/>solve(A,b)可解线性方程组$Ax=b$,若$b$缺省，默认为单位阵，可求逆

In [55]:
A <- matrix(rnorm(16),4,4) # 3X4矩阵
A

solve(A) #求逆
A%*%solve(A) # A与其逆矩阵相乘得单位阵

     [,1]       [,2]         [,3]      [,4]
[1,]  1.2131109  0.109729118 -1.760579  1.3520511
[2,] -0.8900859  1.193467763  1.982229 -1.5866450
[3,]  0.8887794 -0.004810949  1.014606 -1.5145237
[4,]  0.8106566 -0.448730711  2.249084 -0.1864696

     [,1]         [,2]       [,3]       [,4]
[1,]  0.459888578 0.02473987  0.3631676  0.17436343
[2,]  0.701718432 0.75590497 -0.1599500 -0.04475586
[3,] -0.003775772 0.15130737 -0.2115959  0.40377030
[4,]  0.265121393 0.11348062 -0.5883970  0.37295809

     [,1]          [,2]         [,3]         [,4]
[1,]  1.000000e+00 0.000000e+00 0.000000e+00 0
[2,]  0.000000e+00 1.000000e+00 0.000000e+00 0
[3,]  0.000000e+00 2.775558e-17 1.000000e+00 0
[4,] -1.387779e-17 8.326673e-17 8.326673e-17 1

<font size = 3>
    
**矩阵特征值和特征向量**
矩阵$A$的谱分解为$A=UAU'$，其中$A$是由$A$的**特征值组成的对角矩阵**，$U$的列为$A$的**特征值对应的特征向量**,在R中可以用函数**eigen()** 得到U和A。

eigen( x , symmetric , only. values = FALSE, EISPACK =FALSE)

其中，**x**为**矩阵**，**symmetric**项指定矩阵x是否为对称矩阵，若不指定，系统将自动检测x是否为对称矩阵

In [13]:
# 矩阵特征值和特征向量
A <- diag(4)+1
A.e <-eigen(A,symmetric = T)
A
A.e$values #特征值
A.e$vectors #特征向量
A.e$vectors%*%diag(A.e$values)%*%t(A.e$vectors)

     [,1] [,2] [,3] [,4]
[1,] 2    1    1    1
[2,] 1    2    1    1
[3,] 1    1    2    1
[4,] 1    1    1    2

[1] 5 1 1 1

     [,1] [,2]       [,3]       [,4]
[1,] -0.5  0.8660254  0.0000000  0.0000000
[2,] -0.5 -0.2886751 -0.5773503 -0.5773503
[3,] -0.5 -0.2886751 -0.2113249  0.7886751
[4,] -0.5 -0.2886751  0.7886751 -0.2113249

     [,1] [,2] [,3] [,4]
[1,] 2    1    1    1
[2,] 1    2    1    1
[3,] 1    1    2    1
[4,] 1    1    1    2

<font size = 3>
    
**矩阵Choleskey分解**
对于正定矩阵$A$，可对其进行Choleskey 分解，即$A=P'P$，其中，$P$为上三角矩阵，在R中可以用函数**chol()** 进行Choleskey分解

In [14]:
A <- diag(4)+1
A.c <-chol(A)
A.c
t(A.c)%*%A.c

     [,1]     [,2]      [,3]      [,4]
[1,] 1.414214 0.7071068 0.7071068 0.7071068
[2,] 0.000000 1.2247449 0.4082483 0.4082483
[3,] 0.000000 0.0000000 1.1547005 0.2886751
[4,] 0.000000 0.0000000 0.0000000 1.1180340

     [,1] [,2] [,3] [,4]
[1,] 2    1    1    1
[2,] 1    2    1    1
[3,] 1    1    2    1
[4,] 1    1    1    2

<font size = 3>
    
**矩阵奇异值分解**：
对于矩阵$A(m×n)，rank(A)=r$，可分解为$A=UDV'$，其中，$U'U = V'V= I$。在R中可以用**svd()**进行奇异值分解

In [16]:
A <- matrix(1:18,3,6)
A.s <- svd(A)
A.s
A.s$u%*%diag(A.s$d)%*%t(A.s$v)

$d
[1] 4.589453e+01 1.640705e+00 1.366522e-15

$u
           [,1]        [,2]       [,3]
[1,] -0.5290354  0.74394551  0.4082483
[2,] -0.5760715  0.03840487 -0.8164966
[3,] -0.6231077 -0.66713577  0.4082483

$v
            [,1]        [,2]       [,3]
[1,] -0.07736219 -0.71960032 -0.4076688
[2,] -0.19033085 -0.50893247  0.5745647
[3,] -0.30329950 -0.29826463 -0.0280114
[4,] -0.41626816 -0.08759679  0.2226621
[5,] -0.52923682  0.12307105 -0.6212052
[6,] -0.64220548  0.33373889  0.2596585

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    4    7    10   13   16
[2,] 2    5    8    11   14   17
[3,] 3    6    9    12   15   18

<font size = 3>
    
**矩阵奇QR分解**：
对于矩阵$A(m×n)$，可QR分解为$A=QR$，其中，$Q'Q=I$。在R中可以用**qr()** 进行QR分解

In [18]:
A <- matrix(1:16,4,4)
qr(A)

$qr
           [,1]        [,2]          [,3]          [,4]
[1,] -5.4772256 -12.7801930 -2.008316e+01 -2.738613e+01
[2,]  0.3651484  -3.2659863 -6.531973e+00 -9.797959e+00
[3,]  0.5477226  -0.3781696  1.601186e-15  2.217027e-15
[4,]  0.7302967  -0.9124744 -5.547002e-01 -1.478018e-15

$rank
[1] 2

$qraux
[1] 1.182574e+00 1.156135e+00 1.832050e+00 1.478018e-15

$pivot
[1] 1 2 3 4

attr(,"class")
[1] "qr"

<font size = 3>

**其他运算**：**矩阵维数：dim()，行数：nrow()，列数：mcol
()**

**矩阵的行和：rowSums()，列和：colSums()，行平均：rowMeans()，列平均：colMeans()**

**apply(X,MARGIN,FUN,...)**:
其中，**X：矩阵**，**MARGIN** 用来指定是**对行运算还是对列运算**，MARGIN =1表示对行运算，MARGIN =2表示对列运算，**FUN** 用来指定**运算函数**，FUN包括但不限于sum，mean，var等。“…”用来给定FUN中需要的其他参数,例如:

### 4 数据框
<font size =3>
    
**数据框（data frame）**是一种矩阵形式的数据，但数据框中各列可以是不同类型的数据。数据框每列是一个变量，每行是一个观测量。数据框可以看成是矩阵(matrix)的推广，也可以看作是一种特殊的列表对象(list)。数列入数据框中的列表对象有如下限制:

(1）分量必须是向量（数值、字符、逻辑)、因子、数值矩阵、列表或其他数据框。<br/>
(2）矩阵、列表和数据框为新的数据框提供了尽可能多的变量，因为它们各自拥有列元素或变量。<br/>
(3）数值向量、逻辑值、因子保持原有格式，而字符向量会被强制转换成因子并它的水平就是向量中出现的独立值。<br/>
(4）在数据框中以变量形式出现的向量长度必须一致，矩阵结构必须有一样的行数。

R语言中用函数 **data.frame()** 生成数据框:**data.frame ( data1,data2,…)**

In [1]:
x1 <- c(171,175,159,155,152,158,154,164,168,166,159,164)
x2 <- c(57,64,41,38,35,44,41,51,57,49,47,46)
X <- data.frame('Height'=x1,'Weight'=x2)
X

   Height Weight
1  171    57
2  175    64
3  159    41
4  155    38
5  152    35
6  158    44
7  154    41
8  164    51
9  168    57
10 166    49
11 159    47
12 164    46

   Height Weight
1  171    57
2  175    64
3  159    41
4  155    38
5  152    35
6  158    44
7  154    41
8  164    51
9  168    57
10 166    49
11 159    47
12 164    46